$main-color: #7F0000;
$nav-background-color: $main-color;
$nav-link-color: #ffffff;
$nav-link-hover-color: #cccccc;

body {
  padding-top: 70px;
  padding-bottom: 30px;

  .navbar-default {
    background: $nav-background-color;
    color: $nav-link-color;

    .navbar-brand {
      color: $nav-link-color;

      &:hover, &:focus {
        color: $nav-link-hover-color;
      }
    }

    .navbar-nav {
      & > .active {
        & > a {
          color: $nav-link-hover-color;
          &:hover, &:focus {
            color: $nav-link-color;
          }
        }
      }
      a {
        color: $nav-link-color;
        &:hover, &:focus {
          color: $nav-link-hover-color;
        }
      }
      & > .dropdown {
        & > a {
          .caret {
            border-top-color: $nav-link-color;
            border-bottom-color: $nav-link-color;
          }
          &:hover, &:focus {
            .caret {
              border-top-color: $nav-link-hover-color;
              border-bottom-color: $nav-link-hover-color;
            }
          }
        }
      }
    }
  }

  font-size: 14px;

  h1 {
    font-size: 1.7em;
    margin-top: 15px;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  .table {
    &.table-striped {
      td {
        vertical-align: middle;
      }
    }
  }

  .form-horizontal {
    .checkbox {
      label {
        line-height: 1.5;
      }
    }
  }

  .inline-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background: #f9f9f9;
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 5px;
    display: inline-block;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}